<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice Status Ratio</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
        });

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Count');

            var invoiceStatusCounts = /*[[${invoiceStatusCounts}]]*/ [];
            invoiceStatusCounts.forEach(function(entry) {
                data.addRow([entry[0], parseInt(entry[1])]);
            });

            var options = {
                title: 'Invoice Payment Status Ratio',
                is3D: true,
                height: 500
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div th:fragment="pieChart">
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </div>
</body>
</html>
