<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <style>
  </style>
  <title>Home | InvoiceSync</title>
</head>
<body>
  <nav th:replace="~{fragments/navbar-non-finance :: navbar-non-finance-staff(page='Home')}"></nav>
  <div class="container">
    <div class="card-borderless mt-4">
      <div class="card-title">
        <h1 th:if="${showModal}" class="center-text theme-color">Halo, <span th:text="${email}"></span></h1>
        <h1 th:unless="${showModal}" class="center-text theme-color">Halo, <span th:text="${employee.first_name} + ' ' + ${employee.last_name}"></span></h1>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title theme-color">Complete Your Profile Now</h4>
            </div>
            <div class="modal-body">
                <p class="theme-color" >First time on the system? Please <a th:href="@{/profile-page/edit}">complete your profile</a> first before using InvoiceSync.</p>
            </div>
        </div>
    </div>
  </div>

  <script>
    var showModal = "[[${showModal}]]";

    if (showModal == "true") {
        document.getElementById('myModal').style.display = 'block';
    }
  </script>

  <!--
    $(document).ready(function(){
        var down = false;
        $('#bell').click(function(e){
          
            var color = $(this).text();
            if(down){
                
                $('#box').css('height','0px');
                $('#box').css('opacity','0');
                down = false;
            }else{
                
                $('#box').css('height','auto');
                $('#box').css('opacity','1');
                down = true;
            }
        });
            });
  </script> -->

</body>
</html>
