<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <style>
  </style>
  <title>Home</title>
</head>
<body>
  <nav th:replace="~{fragments/navbar-non-finance :: navbar-non-finance-staff(page='Home')}"></nav>
  <div class="container">
    <div class="card-borderless mt-4">
      <div class="card-title">
        <h1 class="center-text theme-color" style="margin: 0;">Halo, <span>warehouse_staff@gmail.com</span></h1>
      </div>
    </div>
  </div>
</body>
</html>
