
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>InvoiceSync</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar(page = 'Manager')}"></nav>
    <div class="container">
      <div class="card m-4 p-0">
        <div class="card-header">
            <h2>Create Invoice</h2>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form th:action="@{/create-invoice}" th:object="${invoiceDTO}" method="POST">
                    <h2>Draft: /</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            Customer <br>
                            <input required class="form-control" type="text" th:field="*{grandTotal}" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            Invoice Date <br>
                            <input required class="form-control" type="date" th:field="*{invoiceDate}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            Address <br>
                            <input required class="form-control" type="text" th:field="*{grandTotal}" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            Due Date
                            <input required class="form-control" type="date" th:field="*{dueDate}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-4">
                            Contact <br>
                            <input required class="form-control" type="text" th:field="*{grandTotal}" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="mb-4">
                        Currency
                        <input required class="form-control" type="text" th:field="*{discount}" disabled />
                    </div>
                    </div>
                </div>
                <label>Please attach document or input the fields below to add product list.</label>
                <br>

                <label>Attach Product List (.xlsx)</label>
                <input type="file" class="form-control" id="file" name="file" accept=".xlsx">
                <input th:field="*{addedDocument}" hidden/>
                <br>

                <table class="table table-bordered">
                    <thead class="bg-dark text-white">
                          <tr>
                              <th>No</th>
                              <th>Product</th>
                              <th>Description</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>% Disc.</th>
                              <th>Taxes</th>
                              <th>Subtotal</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% comment %}  {% endcomment %}
                      </tbody> 
                   </table>
                <div class="col-md-6 py-4">
                    <button class="btn btn-primary" type="submit" name="addRowInvoice">+ Add Row</button>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-4">
                            Terms and Conditions<br>
                            <input required class="form-control" type="text" th:field="*{discount}" disabled />
                        </div>
                    </div>
                </div>

                <div class="text-center">
                <a class="btn btn-danger" href="/">Batal</a> 
                <button class="btn btn-primary" type="submit">Simpan</button>
                </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
