<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InvoiceSync</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
  </style>
</head>
<body>
  <nav th:replace="~{fragments/navbar-login :: navbar-login}"></nav>
  <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-9 col-lg-6 col-xl-5 mt-5">
          <div class="text-center">
            <img src="https://img.freepik.com/free-vector/sign-page-abstract-concept-illustration_335657-3875.jpg?w=740&t=st=1709305292~exp=1709305892~hmac=1c2804d1b6148b1a2e4ad5f8012cbeba5ac33ddb459450c19e068cbc0bfd5279"
              class="img-fluid" alt="Sample image">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div>
            <form class="login-form">
                <h2 class="text-left theme-color">Welcome to InvoiceSync</h2>
                <h3 class="text-left theme-color">Sign in with your account</h3>

              <!-- Email input -->
              <div class="form-group">
                <label for="form3Example3">Email address</label>
                <input type="email" id="form3Example3" class="form-control"
                  placeholder="Enter a valid email address" />
              </div>

              <!-- Password input -->
              <div class="form-group">
                <label for="form3Example4">Password</label>
                <input type="password" id="form3Example4" class="form-control"
                  placeholder="Enter password" />
              </div>

              <div class="text-center mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg btn-signin btn-block">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

