<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>All Employees</title>
    <style>
    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar-admin :: navbar-admin}"></nav>
    <div class="container">
        <div class="card-borderless mt-4">
            <div class="card-title p-4">
                <h2>List of Employees</h2>
            </div>
            <div class="row justify-content-center">
                <div th:each="employee: ${listEmployee}" class="col-md-6">
                    <div class="card-employee">
                        <div class="card-body d-flex align-items-center">
                            <img th:src="${employee.base64Photo}" alt="Photo of ${employee.firstName} ${employee.lastName}" class="rounded-photo default-photo">
                            <div class="employee-info">
                                <div class="row">
                                    <p th:text="${employee.email}" class="card-text text-violet"></p>
                                    <p th:text="${employee.role.role}" class="card-text text-muted"></p>
                                    <p th:text="${employee.city}" class="card-text text-muted"></p>
                                </div>
                                <div class="row">
                                    <div class="col text-right">
                                    <button type="button" class="btn btn-primary btn-delete">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
