<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>InvoiceSync</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar-non-finance :: navbar-non-finance-staff(page = 'Create-Invoice')}"></nav>
    <div class="container">
    <form th:action="@{/create-invoice}" th:object="${invoiceDTO}" method="POST" enctype="multipart/form-data">
    <div class="header">
        <h4>Create Invoice / <span class="invoice-number">Draft</span></h4>
    </div>
    <a class="btn btn-danger" href="/home">Cancel</a> 
    <button class="btn btn-primary" type="submit">Save</button>
    <div class="grid-container-invoice-logs">
        <div class="grid-container-invoice-logs-child">
            <div class="card">
                <div class="card-body p-4">
                <div class="container-title">
                    <div class="row">
                        <div class="col" style="text-align:left;">
                            <h3>Draft</h3>
                        </div>
                        <div class="col" style="text-align:right;" th:include="~{fragments/invoice-status :: invoice-status-show}"></div>
                    </div>
                </div>
                <hr>
                <div class="content">
                    <div class="justify-content-center">
                        <div class="row" style="align-items:center;">
                            <div class="col">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCustomerModal">New Customer</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table class="table table-borderless">
                                    <tr>
                                        <td><p class="card-text mb-0">Customer</p></td>
                                        <td>
                                            <select class="form-control" th:field="*{customerId}" id="customerName" onchange="updateCustomerContact()" >
                                                <option value="">Choose customer</option>
                                                <option th:each="customer : ${listCustomer}" 
                                                        th:value="${customer.customerId}" 
                                                        th:text="${customer.name}"
                                                        th:data-contact="${customer.contact}" 
                                                        th:data-address="${customer.address}" ></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p class="card-text mb-0">Contact</p></td>
                                        <td><input class="form-control" type="text" th:text="${customerContact}" id="customerContact" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><p class="card-text mb-0">Address</p></td>
                                        <td><input class="form-control" type="text" th:text="${customerAddress}" id="customerAddress" readonly /></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col">
                                <table class="table table-borderless">
                                    <tr>
                                        <td><p class="card-text mb-0">Invoice Date</p></td>
                                        <td><input class="form-control" th:value="${date}" readonly /></td>
                                    </tr>
                                    <tr>
                                        <td><p class="card-text mb-0">Due Date</p></td>
                                        <td><input class="form-control" type="date" th:field="*{dueDate}"/></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <hr>
                        <p class="card-info">Please attach document or input the fields below to add product list.</p>
                        <br>

                        <p class="card-text">Attach Product List (.xlsx)</p>
                        <input type="file" class="form-control" id="document" name="document" style="width: 35%;"/>
                        <input th:field="*{productDocument}" hidden/>
                        <br>

                        <table class="table table-bordered">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>No</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price/Qty</th>
                                    <th>Total Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead> 
                            <tbody id="invoiceTableBody">
                            </tbody>
                            <button id="addRowInvoice" class="btn btn-primary" type="button">Add Row</button>
                        </table>
                        <p class="card-info">Please click the check button if the product details are correct.</p>

                        <hr>

                        <div class="row">
                            <div class="col">
                                <div class="mb-4">
                                    <p class="card-text">Payment Information</p>
                                    <table class="table table-borderless">
                                        <tr>
                                            <td><p class="card-text mb-0">Bank Name</p></td>
                                            <td><input class="form-control" type="text" th:field="*{bankName}" placeholder="Bank Name" /></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text mb-0">Account Number</p></td>
                                            <td><input class="form-control" type="text" th:field="*{accountNumber}" placeholder="Account Number"/></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text mb-0">Account Name</p></td>
                                            <td><input class="form-control" type="text" th:field="*{accountName}" placeholder="Account Name"/></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col">
                                <div class="mb-4">
                                <table class="table table-bordered-classic">
                                        <tr>
                                            <td><p class="card-text mb-0">Subtotal</p></td>
                                            <td>
                                                <input class="form-control" type="number" th:field="*{subtotal}" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text mb-0">Discount (%)</p></td>
                                            <td><input class="form-control" type="number" th:field="*{totalDiscount}" oninput="calculateGrandTotal()"/></td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text mb-0">Tax</p></td>
                                            <td>
                                                <div id="taxList">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text mb-0">Grand Total</p></td>
                                            <td>
                                                <input class="form-control" th:field="*{grandTotal}" type="number"  disabled />
        
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p class="card-text mb-0">Amount in Words</p></td>
                                            <td><input class="form-control" type="text" th:field="*{totalWords}" /></td>
                                        </tr> 
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col">
                                <div class="mb-4">
                                    <p class="card-info">Please attach additional documents for approval.</p>
                                    <br>
                                    <p class="card-text">Additional Document</p>
                                    <input type="file" class="form-control" name="file"/>
                                    <input type="hidden" th:field="*{additionalDocument}" />
                                </div>
                            </div>

                            <div class="col">
                                <div class="mb-4">
                                    <p class="card-text">Signature</p>
                                    <div class="form-inline">
                                        <div class="form-group mr-2">
                                            <input class="form-control" type="text" th:field="*{city}" placeholder="City" />
                                        </div>
                                        <div class="form-group">
                                            <p class="card-text" th:text="', '+${dateInvoice}"></p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="drag-area">
                                        <input type="file" id="base64String" name="base64String" accept="image/*" required>
                                        <input th:field="*{signature}" hidden/>
                                    </div>
                                    <br>
                                    <input class="form-control" type="text" th:field="*{staffEmail}" readonly />
                                    <br>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-container-invoice-logs-child">
            <h3 style="text-align:center;">Approval Log<h3>
            <hr>
        </div>  
    </div>
    </div>
    <!-- Modal untuk Pesan Sukses -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="successMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal untuk Pesan Error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalButton">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Add New Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/create-customer}" th:object="${customerDTO}" method="post">
                        <div class="form-group">
                            <label for="customerName">Name</label>
                            <input class="form-control" type="text" th:field="*{name}" required/>
                            <label for="customerContact">Contact</label>
                            <input class="form-control" type="text" th:field="*{contact}" required/>
                            <label for="customerPhone">Phone</label>
                            <input class="form-control" type="text" th:field="*{phone}" required/>
                            <label for="customerAddress">Address</label>
                            <textarea class="form-control" type="text" th:field="*{address}" style="height:100px" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Existing HTML code -->
    
    <script src="/js/scripts/invoice-script.js"></script>

    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
      var closeModalButton = document.getElementById('closeModalButton');
      closeModalButton.addEventListener('click', function() {
          $('#errorModal').modal('hide');
      });
      var successMessage = /*[[${successMessage}]]*/ null;
      var errorMessage = /*[[${errorMessage}]]*/ null;
      // Memeriksa jika ada pesan untuk ditampilkan
      if (successMessage && successMessage !== '') {
          $("#successMessage").text(successMessage); // Mengatur teks pesan sukses
          $("#successModal").modal('show'); // Menampilkan modal sukses
      } else if (errorMessage && errorMessage !== '') {
          $("#errorMessage").text(errorMessage); // Mengatur teks pesan error
          $("#errorModal").modal('show'); // Menampilkan modal error
      }
    });
    /*]]>*/
  </script>
</body>
</html>
