/* Reset default styles */
html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background: #FFF;
    box-sizing: border-box;
}

h2, .flow-box strong{
    color:#3F2685;
    font-size:xx-large;
    font-weight: 600;
}

h3{
    color:#3F2685;
    font-weight: 400px;
    font-size: x-large;
}

h4{
    font-size: large;
    color: #5C5C77;
}

/* Navbar */
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-link img {
    margin-right: 5px;
}

.active {
    font-weight: bold;
}

/* Container */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding-top:3%;
    padding-bottom:3%;
}

.grid-child {
    padding: 5px;
    border: 1px solid #000;
}

.grid-child {
    padding: 5px;
    border: 1px solid #000;
}

.grid-child {
    padding: 5px;
    border: 1px solid #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding-top: 20px;
}

.container-title{
    text-align: left;
}

.header{
    display: flex;
    flex-direction: column;
    /* max-width: 1240px; */
}

.sidebar{
    order:2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    color: #000;
    min-height: 500px;
    margin: 20px;
}

.content {
    flex-grow: 5;
    min-width: 630px;
}

/* Invoice Status Tag */
.status-tag-item {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    text-transform: uppercase;
}

.status-name {
    padding: 5px 10px;
    border-radius: 15px;
}

/* Navbar */
.navbar {
    background: #EEF2F5;
}

.nav-profile, 
.nav-profile:hover, 
.nav-profile:active,
.nav-profile:focus{
    background: #3F2685;
    border-radius: 0.5rem;
    color: #fff; 
}

.theme-color, .invoice-number{
    color: #3F2685; 
}

/* Sign-in Button */
.btn-primary, .btn-signin {
    background-color: #3F2685; 
    border-color: #3F2685;
    color: white;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #5d3ca4; 
    border-color: #5d3ca4;
    box-shadow: 0 0 0 .2rem rgb(104 37 200 / 50%);
}

.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    background-color: #5722ca; 
    border-color: #5722ca;
}

/* Sequence */
.sequence{
    color: #5C5C77;
    text-align: left;
}

/* Cards */
.card {
    --bs-card-border-width: 4px;
    --bs-card-border-color: #EEF2F5;
    --bs-card-border-radius: 0.7rem;
    --bs-card-inner-border-radius: 0.7rem;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.card-borderless{
    border: #FFF;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.card-title{
    text-align: center;
}

.card-text {
    color: #3F2685;
}

.card-info {
    background-color: #9CB0C9;
    background-color: #9CB0C9;
    display: inline-block;
    padding: 8px;
    border-radius: 0.7rem;
}

.card small-card-title {
  background: #3F2685;
  color: #FFF;
}

/* Forms */
.form {
    background: #FBFCFE;
}

.form-control {
    border-radius: 0.7rem;
}

.card-header {
    background: rgb(255, 255, 255);
}

/* Tables */
.table td{
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
  border-bottom: 2px solid rgb(222, 226, 230);
  background-color: #3F2685;
  text-align: center;
  color:#fff;
}

.table-bordered-classic th,
.table-bordered-classic td {
    border: 1px solid #3F2685;
    text-align: left;
    vertical-align: middle;
}

.text-violet {
    color: #3F2685;
}

.theme-color {
    color: #3F2685; 
}

.table-custom {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}
.table-custom thead {
    background-color: #3F2685;
    color: white;
}
.table-custom th, .table-custom td {
    border: none;
}
.table-custom tbody tr {
    background-color: #E3E6F0;
}
.table-custom tbody tr:nth-of-type(even) {
    background-color: #fff;
}
.status-approved {
    color: green;
}
.status-rejected {
    color: red;
}
.table-title {
    font-size: 24px;
    color: #3F2685;
    margin-bottom: 16px;
    font-weight: bold;
}

.theme-color {
    color: #3F2685;
}

/* Added CSS for button text color */
.btn-delete {
    color: white;
}

/* Added CSS for rounded photo */
.rounded-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


/* Added CSS for employee info container */
.employee-info {
    flex-grow: 1;
}

.employee-info h5,
.employee-info p {
    margin-bottom: 2px; /* Adjust the margin as needed */
    padding-left: 20px; /* Adjust the padding as needed */
}


/* Added CSS for default black photo */
.default-photo {
    background-color: #000;
}

/* Drag Area */
.drag-area{
    border: 2px dashed #3F2685;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

.drag-area.active{
    border: 2px solid #3F2685;
}

.drag-area .icon{
    font-size: 40px;
    color: #3F2685;
}

.drag-area header{
    color: #3F2685;
}

.drag-area span{
    font-size: 13px;
    color: #3F2685;
    margin: 5px 0 5px 0;
}

.drag-area button{
    padding: 5px 20px;
    font-size: 15px;
    border: none;
    outline: none;
    background: #3F2685;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
}

.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* List of Employee */
.grid-container {
    display: grid;
    /* Adjust the minmax for the desired card width */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 0 auto; /* Center the grid container */
}
.rounded-circle {
    border-radius: 50%;
    width: 80px; /* Ensure this matches the width of your image */
    height: 80px; /* Ensure this matches the height of your image */
    object-fit: cover;
}
.card-employee{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    padding: 1rem;
    border-radius: 0.5rem; /* Optional: for rounded corners */
}

.card-employee img {
    width: 80px; /* Adjust as needed */
    height: 80px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Approval Logs */
.grid-container-invoice-logs {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 20px;
}

.grid-container-invoice-logs-child {
    padding-top: 10px;
}

.container-logs {
    width: 100%;
}

.left {
    grid-area: left;
}
.name { 
    grid-area: name;
    color: #5d3ca4
}
.date { 
    grid-area: date;
    color: #9BA3AC;
}
.position { 
    grid-area: position; 
    color: #9BA3AC;
}
.status { 
    grid-area: status;
    vertical-align: middle;
}
.additional { 
    grid-area: additional;
}

.grid-container-logs{
    display: grid;
    grid-auto-flow: row-reverse;
    row-gap: 10px;
    width: 90%;
}

.grid-container.log {
    display: grid;
    grid-template-areas:
        'left name date'
        'left position status'
        'left additional additional';
    grid-template-columns: 1fr 3fr 2fr;
    gap: 3px;
    width: 100%;
    font-size: smaller;
}

.grid-container.log .date,
.grid-container.log .status {
    display: flex;
    justify-content: flex-end;
}

.oval-status {
    width: 85%;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container.log p {
    padding: 0;
    margin: 0;
}

.rounded-photo.log {
    width: 30px;
    height: 30px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-photo {
    margin-right: 20px; 
}

.profile-details {
    flex: 1; 
}

.profile-details h4,
.profile-details p {
    margin: 5px 0; /* Adjust the top and bottom margin */
}

.button-profile-page a {
    margin-left: 10%;
    margin-right: 10%;
}


/* Dashboard */
.dashboard-col {
    border: 2px solid #EEF2F5; 
    border-radius: 0.7rem;
    padding: 20px;
}

.dashboard-row {
    margin-bottom: 15px;
}

.dashboard-col-middle{
    border: 2px solid #EEF2F5; 
    border-radius: 0.7rem;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.dashborad-content{
    max-width: 400px;
    max-height: 300px;
}
