<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approve Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>
<body>
    <nav th:if="${role == 'Non-Finance Manager'}" th:replace="~{fragments/navbar-non-finance :: navbar-non-finance-manager(page='Approve-Invoice')}"></nav>
    <nav th:if="${role == 'Finance Staff'}" th:replace="~{fragments/navbar-finance :: navbar-finance-staff(page='Approve-Invoice')}"></nav>
    <nav th:if="${role == 'Finance Manager'}" th:replace="~{fragments/navbar-finance :: navbar-finance-exc(page='Approve-Invoice')}"></nav>

    <div class="container">
        <div class="card-title">
            <h2>Approve Invoice</h2>
        </div>
        <div class="card-borderless">
            <div class="card-body">
                <p>These are some invoices submitted to you. Click on the invoice number to proceed with approval.</p>
                <table class="table table-custom">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Invoice Number</th>
                            <th>Client Name</th>
                            <th>Grand Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="invoice, iterStat : ${invoices}" th:if="${invoice.customer != null}">
                            <td th:text="${iterStat.count}"></td>
                            <td>
                                <a th:href="@{/approval/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber != null ? invoice.invoiceNumber.replace('/', '_') : 'Dummy'}, approvalId=${invoice.approvalId})}"
                                   th:text="${invoice.invoiceNumber}"
                                   name="approvalId"
                                   th:value="${invoice.approvalId}"></a>
                            </td>
                            <td th:text="${invoice.customer.name}"></td>
                            <td th:text="${'Rp' + #numbers.formatDecimal(invoice.grandTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                            <td th:with="status=${invoice.status}" th:include="fragments/invoice-status :: invoice-status-show"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
